.detail-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 40px 30px 40px 30px;
  border: 1px solid #666666;
  border-radius: 5px;
  background-color: #e3e1e1;
  width:650px;
}

.content-left {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  text-align: left;
}

.content-left > span {
  padding: 10px 0 10px 0;
}

.content-right {
  display: flex;
  flex-direction: column;
  float: right;
  width: 50%;
  text-align: left;
}

.content-right > span {
  padding: 10px 0 10px 0;
}

.city-title {
  font-size: 30px;
}

.current-temp-container {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}
