.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  font-size: 16px;
  margin: 10px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #666666;
  border-radius: 5px;
  background-color: #a9d6fc;
  cursor: pointer;
}

.box-container > div > img {
  padding: 15px 0 15px 0;
}

.min-max-container {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: space-between;
  padding: 5px;
}

.border-box {
  border: 2px solid #11005cc5;
}
